<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.eeganalysistoolkit">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ProfileDetailActivity"></activity>
        <activity android:name=".activities.TestEDFActivity" />
        <activity android:name=".activities.UserListActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DoctorDashboard" />
        <activity android:name=".activities.PatientDashboard" />
        <activity android:name=".activities.AdministratorDashboard" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.Register" />
        <activity android:name=".model.Admin" />
        <activity android:name=".model.Patient" />
        <activity android:name=".model.Doctor" />
    </application>

</manifest>